.content {
    &_add {
        text-align: center;
        margin-top: 15px;
    }
    &_post {
        max-width: 614px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 25px auto;
        border: 1px solid #d3d3d3;
        background-color: #fff;
        border-radius: 3px;
        &_header {
            display: flex;
            align-items: center;
            padding: 12px;
            justify-content: space-between;
            &_ava {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: 3px solid #dc316f;
                margin-right: 12px;
                cursor: pointer;
            }
            &_name {
                display: flex;
                align-items: center;
            }
            &_more {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 30px;
            }
            &_dot {
                width: 3px;
                height: 3px;
                border-radius: 100%;
                background-color: black;
                display: inline-block;
                margin-right: 3px;
                cursor: pointer;
            }
            &_login {
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                transition: .3s all;
                &:hover {
                    text-decoration: underline;
                    transition: .3s all;
                }
            }
        }
        &_comments {
            padding: 0 20px;
            font-size: 14px;
            &_wrapper {
                display: flex;
                margin-bottom: 5px;
            }
            &_username {
                font-size: 14px;
                font-weight: 600;
                margin-right: 5px;
            }
            &_all {
                margin-top: 3px;
                color: #8e8e8e;
                font-size: 14px;
                cursor: pointer;
            }
        }
        &_image {
            width: 100%;
            object-fit: contain;
        }
        &_actions {
            display: flex;
            align-items: center;
            padding: 5px 19px 0;
            &_action {
                margin-right: 15px;
                font-size: 22px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &_likes {
            padding-left: 21px;
            color: #262626;
            font-weight: 600;
            font-size: 14px;
        }
        &_caption {
            font-weight: 400;
            padding: 5px 20px 0;
            &_username {
                font-weight: 600;
                font-size: 14px;
            }
            &_date {
                margin: 7px 0;
                color: #8e8e8e;
                font-size: 12px;
            }
        }
        &_addcomment {
            display: flex;
            min-height: 56px;
            border-top: 1px solid #d3d3d3;
            &_input {
                flex: 1 1;
                border: 0;
                outline: none;
                -moz-appearance: none;
                padding: 5px 20px;
                overflow: auto;
                font-size: 14px;
            }
            &_btn {
                flex: 0 1;
                background-color: unset;
                border: none;
                color: #0095f6;
                font-weight: 600;
                font-size: 14px;    
                cursor: pointer;
                &:disabled {
                    cursor: unset;
                    color: #BBE3FD;
                }
            }
        }
    }
}